ul{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
    list-style: none;
}
ul h3{
    margin-right: 530px;
    color: brown;
}
header{
    /* border: 1px solid whitesmoke; */
    box-shadow: 3px 3px 5px 5px whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
}
.ima{
    margin-right: 75px;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.card{
   width: 400px;
   line-height: 17px;
   
}
section{
    display: flex;
    justify-content: space-between;
    margin-inline: 180px;
    margin-top: 200px;
    margin-bottom: 50px;
}
.ges{
    background-color: brown;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    padding-inline: 5px;
    padding-block: 5px;
    
}
.cad{
   display: flex;
   align-items: center;
   gap: 20px;
   line-height: 2px;
}
div h3 {
    color: brown;
}
.from{
    background-color: blueviolet;
    height: 500px;
    text-align: center;
    padding-block: 20px;
    line-height: 5px;

}
.us{
    display: flex;
    justify-content: space-around;
    padding-block: 50px;
}
.buy{
    width: 200px;
    /* border: 2px solid brown; */
    padding-block: 20px;
    border-radius: 5px;
    line-height: 10px;
    font-size: small;
}
.gez{
    background-color: brown;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    padding-inline: 5px;
    padding-block: 5px;
    margin-left: 15px;
}
.carez{
    display: flex;
    align-items: center;
    gap: 10px;
}
.from h1{
    color: brown;
}